# pinecone key + index name(bucket) for embeddings
PINECONE_API_KEY=<pinecone key>
PINECONE_INDEX_NAME=<index name>
PINECONE_INDEX_NAMESPACE=<namespace inside the index>

# open ai key + base url for querying
OPENAI_API_KEY=<openai key>
OPENAI_BASE_URL=<base url to route requests>
OPENAI_MODEL_PREFIX=<model name prefix, must end with '-'>